body {
    margin: 0;
    padding: 0;
  }
  
.jaketsheader{
    display:grid;
    grid-template-columns:200px 1fr 200px ;
    grid-template-rows: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:2;
}

.wrapmenu{
    grid-column: 1 / 2;
}

.logo{
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
  height:220px;
  margin-top:30px;
}

.registration{
    grid-column: 3 / 4;
    color:white;
    align-self: center;
    font-size:20px;
}

/* menu */
ul {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
  
  ul li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 100px;
    margin-top: 0px;
  }
  
  ul a {
    font-family: 'Font';
    font-size:30px;
    font-weight:bold;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 15px;
    padding-left:0px;
    color: white;
    height: 25px;
    margin-top: 0px;
    background-color: black;
  }
  
  .second {
    display: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    opacity: 0;
  }
  
  .menu li ul {
    display: block;
  }
  
  .menu>li div {
    font-family: 'Font';
    font-size:40px;
    font-weight:bold;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url('images/kurs.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, left 0.3s ease;
  }
  
  .menu .li4 .pim {
    background-position: 0 -60px;
    transition: transform 0.3s ease, left 0.3s ease;
  }
  
  .menu .li4 .pim.clicked {
    transform: rotate(180deg) translateX(50px);
    left: 100px;
  }
  /* menu */
 /*HEADER*/

span{
  font-weight: bold;
}

 /*VIDEO*/
 .video{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: 750px;
 }

 .video img{
  width:100%;
  height:100%;
 }
 /*VIDEO*/
 
 
 /*Product*/
 .container{
    margin-top:30px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    grid-gap:40px;
 }


img{
    height:330px;
    width:250px;
}
figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 figcaption{
    text-align:center;
    font-size:20px;
 } 
/*Product*/
/*login*/
.form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group button {
    padding: 8px 12px;
    background-color: rgb(72, 72, 72);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: rgb(72, 72, 72);
  }

  .toggle-link {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .container1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: center;
    z-index:1;
  }

  .loginmenu{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px;
    padding-top:80px;
  }

  .html2{
    background-image: url("images/DeWatermark.ai_1708945674045.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  footer{
    display:grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 80px;
    background-color: black;
  }

.author{
    grid-column:1 / 2;
    align-self: center;
    color:white;
}

.insta{
    grid-column:2 / 3;
    text-align:center;
    align-self: center;
    color:white;
}

.info{
    grid-column:3 / 4;
    align-self: center;
    color:white;
}
/*login*/

.infocont{
  display:grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows:repeat(8, 1fr);
}
.infocont div{
  border:3px solid black;
}

.data{
  display:grid;
  grid-template-rows: repeat(3,1fr);
}


.prodcont{
  margin-top:80px;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  padding-bottom:200px;
}

.prefooter{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 550px;
}

.prefooter img{
  width:100%;
  height:100%;
 }
.newphoto{
  display:none;
}
.image{
  width:500px;
  height: 600px;
}

.firstcolumn{
grid-column:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondcolumn{
grid-column:2;
}


.prodinfo{
display:grid;
grid-template-columns: 1fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 400px;
grid-row-gap:20px;
}

name{
font-size:40px;
text-align:center;
grid-row:1;
}

price{
  font-size:30px;
  grid-row:2;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

description{
  font-size:25px;
  grid-row:6;
  font-weight: bold;
}

.opis{
  grid-row:5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size:40px;
  font-weight: bold;
}

.blocks{
grid-row:4;
grid-column: 1/4;
display:grid;
grid-template-columns: repeat(3,110px);
grid-gap:20px;
justify-content: center;
}

.blocks div:active{
  background-color:black;
  color:white;
}
.blocks div{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border:3px solid black;
font-size:30px;
font-weight: bold;
}

.zakaz{
  grid-row:3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.zakbutton{
  width:50%;
  height: 100%;
  font-size:30px;
  color:white;
  background-color: black;
}


.html4{
  background: url(images/DeWatermark.ai_1708945674045.jpg);
  background-size:cover;
}

.bodybuy {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
}

.card-form {
width: 400px;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f5f5f5;
}

.card-form label {
display: block;
margin-bottom: 10px;
font-weight: bold;
}

.card-form input[type="text"],
.card-form input[type="number"],
.card-form select {
width: 100%;
padding: 5px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}

.card-form button {
width: 100%;
padding: 10px;
background-color: rgb(72, 72, 72);
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
}

.infocont1{
    width:800px;
    font-size:20px;

}

.text1{
align-items: center;
display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:700px;
    
}

.infoback{
background-image: url(images/DeWatermark.ai_1708945674045.jpg);
background-size: cover;
}

h1{
  margin-top:100px;
  text-align: center;
}
.text1{
  height:1000px;
}




@media(max-width: 1100px){
  description{
    font-size:25px;
  }
  .prodcont{
    margin-top:80px;
    display:grid;
    grid-template-columns:1fr;
  }
  .image{
    width:450px;
    height: 550px;
  }

  .firstcolumn{
    grid-column:1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .secondcolumn{
    grid-column:1;
    }

    .prodinfo{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows:1fr 1fr 1fr 1fr 1fr 500px;
      grid-row-gap:20px;
      }
      
      footer{
        display:grid;
        grid-template-columns:85px 1fr 110px ;
        grid-template-rows: 50px;
      } 

.author{
  grid-column:1;
  align-self: center;
}

.insta{
  grid-column:2;
  text-align:center;
  align-self: center;
}

.info{
  grid-column:3;
  align-self: center;
  font-size:14px;
}
.jaketsheader{
  grid-template-columns:110px 1fr 130px ;
}
.registration{
  font-size:14px;
  text-align:center;
}
figure img{
  width:150px;
  height:200px;
}

.prefooter {
  grid-template-rows: 200px;
  }
}

@media(max-width: 825px){
  .container{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(4,1fr);
    grid-gap:20px;
  }
}

@media(max-width: 500px){

  .logo img{
    width:190px;
  }
figure img{
  width:150px;
  height:200px;
}

  .registration{
    font-size:14px;
    text-align:center;
  }
    .firstcolumn img{
        height:300px;
        width:200px;
    }
    .container{
        grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
        grid-template-rows: repeat(8,1fr);
        grid-gap:20px;
    }
    .jaketsheader{
        grid-template-columns:110px 1fr 130px ;
    }
    .gifka {
      display:none;
    }

    .newphoto{
      display:block;
      width:100%;
      height:100%;
    }
    .prodcont{
      margin-top:80px;
      display:grid;
      grid-template-columns:1fr;
    }
    .image{
      width:400px;
      height: 500px;
    }

    .firstcolumn{
      grid-column:1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .secondcolumn{
      grid-column:1;
      }

      .prodinfo{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr 500px;
        grid-row-gap:20px;
        }
        
        footer{
          display:grid;
          grid-template-columns:85px 1fr 110px ;
          grid-template-rows: 50px;
        } 

.author{
    grid-column:1;
    align-self: center;
}

.insta{
    grid-column:2;
    text-align:center;
    align-self: center;
}

.info{
    grid-column:3;
    align-self: center;
    font-size:14px;
}
description{
  font-size:20px;
}
.prefooter {
grid-template-rows: 200px;
}

name{
  font-size:25px;
}
}
